.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container {
    border-right: 1px solid lightgray;
    margin-right: 10px;
    margin-left: 50px;
}

.search-container {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
}

.search-container input {
    width: 75%;
}