.header {
    text-align: center;
}

.header nav {
    background-color: black;
    line-height: 40px;
}

.header nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
}

.header nav a:hover {
    background-color: lightgray;
}

.logo {
    height: 100px;
}